@import 'vars';
@import 'pie-chart';
@import 'search';
@import 'table';

.loader {
  color: $light-blue;
  padding: 25px 0;
  font-size: 45px;
  //Position above masked class overlay
  z-index: 200;
  position: absolute;
  left: 48%;
}
