@import 'vars';
@import 'modal';
@import 'pie-chart';
@import 'search';
@import 'table';

.loader {
  color: $light-blue;
  padding: 25px 0;
  font-size: 45px;
  z-index: 200;
  position: absolute;
  left: 48%;
}

.hide{
  display: none;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text-select {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
