//Reset CSS
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

@import '../../../sass/vars';

@font-face {
  font-family: $font-light;
  src: url('../fonts/ClearSans-Light.ttf');
}

@font-face {
  font-family: $font-regular;
  src: url('../fonts/ClearSans-Regular.ttf');
}

@font-face {
  font-family: $font-bold;
  src: url('../fonts/ClearSans-Bold.ttf');
}

html {
  font-family: $font-regular;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

body {
  background-color: $darker-grey;
  margin: 0 auto;

  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

#header-component {
  background-color: $dark-grey;
  border-top: solid 3px $light-blue;
  color: $off-white;
  min-height: 60px;
  min-width: $min-page-width;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  #application-logo {
    float: left;
    height: 20px;
    margin: 20px 0 0 27px;
  }

  .header-divider {
    background-color: $light-blue;
    float: left;
    margin: 22px 0 0 10px;
    min-height: 23px;
    min-width: 2px;
  }

  #application-description {
    cursor: default;
    float: left;
    font-size: 21px;
    margin: 17px 0 0 12px;
  }
}

.content-component {
  background-color: $darker-grey;
  color: $off-white;
  margin-top: 88px;
  margin-left: 15px;
}

.table-component {
  margin-top: 48px;

  .table-body {
    font-family: $font-regular;
    font-size: 15pt;
  }
}

.component {
  border: solid 1px $light-grey;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 20px;
  width: 500px;
}

.search-component {
  margin-bottom: 20px;
  width: 540px;
}
